h1, h2, h3 {
  text-align: center;
}

h3 {
  font-size: medium;
  color: grey;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.testentry {
  flex: 1 1 45%;
  margin: 5px;
  border: solid lightgrey 1px;
  border-radius: 3px;

  background-color: #f0f0f0;
  padding: 3px;

  display: flex;
  align-items: center;
}

.testentry .name {
  flex: 1 1 auto;
  font-family: monospace;
  overflow-wrap: anywhere;
}

.testentry .result {
  margin: 2px;
  border-radius: 7px;
  border: solid grey 1px;

  padding: 1px;
  text-align: center;
}

.testentry .result.old {
  flex: 0 0 5ex;

  font-size: xx-small;
}

.testentry .result.latest {
  flex: 0 0 11ex;

  font-size: small;
}

.testentry .result.good {
  background-color: #e0ffe0;
}

.testentry .result.okay {
  background-color: #ffd090;
}

.testentry .result.bad {
  background-color: #ff9090;
}
